<% include ../partials/header.ejs %>

<h4>Your Dashboard</h4>
<p>Currently there are <%=paths.length%> paths</p>

<div class="row learning-paths">
  <% paths.forEach(function(path){ %>
    <div class="col s12 m6 learning-path <%= (path.author._id.toString() == user._id.toString()) ? 'learning-path-author' : '' %>">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%=path.title%></span>
          <p><%=path.category%></p>
          <p class="author">By: <a href="#"><%=path.author.local.email%></a></p>
          <ul class="tags">
            <% path.tags.forEach(function(tag){ %>
              <li><%=tag%>,</li>
            <% }) %>
          </ul>
        </div>
        <div class="card-action">
          <a href="/path/enroll/<%=path._id%>/<%=user._id%>">Enroll in this Course</a>
          <% if(path.author._id.toString() == user._id.toString()){ %>
            <a href="/path/edit/<%=path._id%>">Edit Path</a>
          <% } %>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<% include ../partials/footer.ejs %>